// color
$base-color: #101010;
$bg-color: #515E6E;
$text-color: #fff;
$cold-color: #309ECF;
$hot-color: #DE5E6D;

// font size
$base-font-size: 16;

$font-size-xxl: 165;
$font-size-xl: 118;
$font-size-l: 30;
$font-size-m: 19;
$font-size-s: 14;

// fonts
$base-font: 'Roboto Condensed', sans-serif;
